* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./Fonts/LexendDeca-Regular.ttf");
}

@font-face {
  font-family: "Big Shoulders";
  src: url("./Fonts/BigShouldersDisplay-Bold.ttf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10.7rem;
}

h1 {
  padding-bottom: 1rem;
  color: rgba(31, 30, 30, 0.671);
}

main {
  width: 57.5rem;
  height: 31.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.75rem 3.25rem 0rem 2.94rem;
}

section img {
  width: 3.9rem;
  height: 2.5rem;
}

section h2 {
  padding: 2rem 0rem;
  font-family: "Big Shoulders";
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  font-weight: 400;
}

section p {
  padding: 0rem 0rem 4.25rem 0rem;
  font-family: "Lexend Deca";
  font-size: 0.94rem;
  color: hsla(0, 0%, 100%, 0.849);
  line-height: 1.8;
}

section button {
  width: 9.2rem;
  height: 3.1rem;
  border: none;
  border-radius: 1.9rem;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca";
  font-size: 0.94rem;
  margin-bottom: 2.9rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 2% 0% 0% 2%;
}

.sedans-learn {
  color: hsl(31, 77%, 52%);
}

button:hover {
  border: solid 2px white;
  cursor: pointer;
  transition: 0.7s;
  transform: scale(1.1);
}

.sedans-learn:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.945);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.suvs p {
  color: hsla(0, 0%, 100%, 0.692);
}

.suvs-learn {
  color: hsl(184, 100%, 22%);
}

.suvs-learn:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 100%);
  border: solid 2px white;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0% 2% 2% 0%;
}

.luxury p {
  color: hsla(0, 0%, 100%, 0.692);
}

.luxury-learn {
  color: hsl(179, 100%, 13%);
}

.luxury-learn:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsla(0, 0%, 100%, 0.89);
  border: solid 2px white;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 950px) {
  body {
    padding: 5.4rem 1.6rem;
  }
  main {
    width: 20.5rem;
    height: 82.5rem;
    flex-wrap: wrap;
  }

  section {
    height: 27.5rem;
    width: 20.3rem;
  }

  section h2 {
    font-size: 2.4rem;
    padding: 1.8rem 0rem;
  }

  section p {
    padding-bottom: 1.75rem;
  }

  section button {
    margin-bottom: 0rem;
  }
  .sedans {
    border-radius: 2% 2% 0% 0%;
  }
  .luxury {
    border-radius: 0% 0% 2% 2%;
  }
}
